<!--<div class="container">
  <header class="jumbotron">
    <p>abc</p>
  </header>
</div> -->
<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-lemon"> </i> Pension Management Portal
    </a>

    <div [hidden]="isitloginpage" class="col-md-1">
      <a class="btn btn-danger btn-sm-3" (click)="clickMethod()">
        <i class="fa fa-sign-out"></i> logout</a
      >
    </div>
  </div>
</nav>

<!--  routerLink="/pensioner/login" -->
